---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: green
spec:
  replicas: 1
  selector:
    matchLabels:
      app: green
  template: 
    metadata:
      labels:
        app: green
    spec:
      containers:
      - name: green
        image: docker.io/giriraj789/green:v1
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: green-svc
spec:
  selector:
    app: green
  ports:
    - name: http-green
      protocol: TCP
      port: 8082
      targetPort: 8080
